*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

article p{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.automotive-content, .electronics-content, .farm-content{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  /*padding: 50px 0px;*/
  padding: 0px;
  padding-top: 50px;
}

.article-header{
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: auto;
    width: 200px;
}

.automotive-content img, .electronics-content img, .farm-content img{
  display: flex;
  height: 150px;
  width: 200px;
  margin: auto;
}

body{
  background-color: black;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

li,
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright{
  text-align: right;
}

.disclaimer{
  text-align: left;
}

.drop-down .drop-down-content {
  display: none;
  background: #51a9e8;
}

.faq-content{
  padding: 30px 0px;
}

.faq-content h3{
  border-top: 2px solid #fff;
  padding: 20px;
}

.faq-content p{
  border-bottom: 2px solid #fff;
}

footer{
  background-color: #51a9e8;
  color: #fff;
  max-width: 1440px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container{
  width: 100%;
  white-space: nowrap;
}

.footer-container div{
  display: inline-block;
  padding: 10px;
  width: 50%;
}

h1,
h2,
h3{
  color: #fff;
  text-align: center;
}

header{
  background-color: #51a9e8;
  max-width: 1440px;
  position: fixed;
  top: 0;
  width: 100%;
}

.hero{
  margin: auto;
  margin-top: 38px;
  padding: 20px 0px;
  overflow: hidden;
  width: 50%;
}

.hero img{
  display: block;
  margin: auto;
}

html{
  height: 100;
}

.automotive-content,
.electronics-content,
.farm-content,
.faq-content,
.main-content,
.welcome{
    background: linear-gradient(to right, #023356, #128fe8);
    height: 100%;
    /*margin: auto;*/
}

.mobile-collapse{
  display: none;
}

nav a{
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #93d2ff;
}

.navBar{
  background-color: #51a9e8;
}

.navBar button{
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (min-width:480px){
  .product{
    flex-basis: 50%;
  }
}

@media screen and (min-width:720px) {
    header nav {
        max-width: 1440px;
        margin: 0 auto;
    }
    nav ul {
        float: right;
    }
    nav li {
        display: inline-block;
    }
    .navBar {
        float: left;
    }
    .navBar button {
        display: none;
    }
    .mobile-collapse {
        display: block !important;
    }
    .drop-down .drop-down-content {
        position: absolute;
    }
    .product{
    flex-basis:33%;
    }
}
