* {
    box-sizing:border-box;
}

.article1, .article2, .article3{
  border-bottom: 1px solid #a00;
  height: 200px;
  float: left;
  width: 66.6666%;
}

.article1 a:link, .article2 a:link, .article3 a:link{
  text-decoration: none;
}

.article1 a:hover, .article2 a:hover, .article3 a:hover{
  text-decoration: underline;
}

.article1 h2, .article2 h2, .article3 h2{
  color: #a00;
  margin-top: 10px;
}

.article1 p, .article2 p, .article3 p{
  display: block;
  margin: 0px;
}

body{
  margin: auto;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  width: 960px;
}

.bottomNav{
  clear: both;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.bottomNav p{
  float: left;
}

.bottomNav a{
  color: #a00;
  float: right;
  font-size: 16px;
  padding: 20px 5px;
  text-decoration: none;
}

.bottomNav a:hover{
  text-decoration: underline;
}

.sectionHeader{
  border-bottom: 1px solid #a00;
  border-top: 1px solid #a00;
  clear: both;
  text-align: center;
}

.sectionHeader h3{
  color: #a00;
  font-weight: bold;
}

.gallery{
  display: inline-block;
  /*padding: 10px;*/
}

.gallery img{
  margin: 10px 0px;
  padding: 0px 15px;
}
.largeImage{
  float: left;
  width: 66.66666%;
}

.navBar{
  background-color: #a00;
  border-radius: 25px;
  margin: 10px 0px;
  text-align: center;
}

.navBar a{
  color: white;
  display: inline-block;
  font-size: 25px;
  padding: 5px 15px;
}

.navBar a:link{
  text-decoration: none;
}

.navBar a:hover{
  text-decoration: underline;
}

.posts img{
  float: left;
  max-width: 50%;
  padding: 0px 10px;
}

.topImage{
  margin: 10px 0px;
}

.sideImages{
  float: right;
  width: 33.3333%;
}

.sponsors{
  border-left: 1px solid #a00;
  float: right;
  height: 590px;
  margin-top: 10px;
  padding-left: 10px;
  width: 30%;
}

.sponsors img{
  padding: 10px;
}
