*{
  box-sizing: border-box;
}

a{
  color: #aa0000;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body{
  width: 960px;
}

em{
  color: #66cc00;
}

.footer{
  clear: both;
}

h1,h2,h3{
  color: #aa0000;
}

.header{
  background-color: #00aaaa;
  height: 128px;
}

.header h1, .header h2{
  color: white;
}

.images ul{
  display: inline-block;
}

.main-content{
  float: right;
  width: 75%;
}

.side-bar{
  float: left;
  width: 25%;
}

.side-bar h3{
  color: black;
}
