html{
}

li{
    margin-top:15px;
}

body{
    font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
    margin:50px;
    width:980px;
  }

table{
    border-collapse: collapse;
    width: 1200px;
}

th{
    background-color: #000000;
    color: white;
    height: 30px;
    text-align: center;
  }

table,td{
    border: 1px solid black;
}

td,th{
    padding: 10px;
}

tr:nth-child(even){
    background-color: #A9A9A9;
}

h1{
    color: #0000FF;
    text-align: center;
}

h2{
    color: #8A2BE2;
}

h3{
    color: #FF0000;
}
