* {
    box-sizing: border-box
}

h2{
  margin-top: 0px;
}

body {
    margin: 0;
}

@media screen and (min-width:576px) and (max-width:768px){
  body{
    column-count: 2;
  }
}

@media screen and (min-width:768px) and (max-width:992px){
  body{
    column-count: 3;
  }
}
@media screen and (min-width:992px) and (max-width:1200px){
  body{
    column-count: 4;
  }
}

@media screen and (min-width:1200px){
  body{
    column-count: 6;
  }
}
